<p>
  <b>Rut:</b>
  <%=h @vendedor.rut %>
</p>

<p>
  <b>Dv:</b>
  <%=h @vendedor.dv %>
</p>

<p>
  <b>Password:</b>
  <%=h @vendedor.password %>
</p>

<p>
  <b>Administrador:</b>
  <%=h @vendedor.administrador %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @vendedor.nombre %>
</p>

<p>
  <b>Apellidos:</b>
  <%=h @vendedor.apellidos %>
</p>

<p>
  <b>Cod fono:</b>
  <%=h @vendedor.cod_fono %>
</p>

<p>
  <b>Num fono:</b>
  <%=h @vendedor.num_fono %>
</p>

<p>
  <b>Email:</b>
  <%=h @vendedor.email %>
</p>


<%= link_to 'Edit', edit_vendedor_path(@vendedor) %> |
<%= link_to 'Back', vendedores_path %>